<%= form_for(@track) do |f| %>
  <% if @track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% @track.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :s1 %><br>
    <%= f.text_area :s1 %>
  </div>
  <div class="field">
    <%= f.label :s2 %><br>
    <%= f.text_area :s2 %>
  </div>
  <div class="field">
    <%= f.label :s3 %><br>
    <%= f.text_area :s3 %>
  </div>
  <div class="field">
    <%= f.label :g1 %><br>
    <%= f.text_area :g1 %>
  </div>
  <div class="field">
    <%= f.label :g2 %><br>
    <%= f.text_area :g2 %>
  </div>
  <div class="field">
    <%= f.label :g3 %><br>
    <%= f.text_area :g3 %>
  </div>
  <div class="field">
    <%= f.label :g4 %><br>
    <%= f.text_area :g4 %>
  </div>
  <div class="field">
    <%= f.label :g5 %><br>
    <%= f.text_area :g5 %>
  </div>
  <div class="field">
    <%= f.label :g6 %><br>
    <%= f.text_area :g6 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
