<p id="notice"><%= notice %></p>

<p>
  <strong>S1:</strong>
  <%= @track.s1 %>
</p>

<p>
  <strong>S2:</strong>
  <%= @track.s2 %>
</p>

<p>
  <strong>S3:</strong>
  <%= @track.s3 %>
</p>

<p>
  <strong>G1:</strong>
  <%= @track.g1 %>
</p>

<p>
  <strong>G2:</strong>
  <%= @track.g2 %>
</p>

<p>
  <strong>G3:</strong>
  <%= @track.g3 %>
</p>

<p>
  <strong>G4:</strong>
  <%= @track.g4 %>
</p>

<p>
  <strong>G5:</strong>
  <%= @track.g5 %>
</p>

<p>
  <strong>G6:</strong>
  <%= @track.g6 %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
